
$text-font: 'Archivo', sans-serif;
$text-size: 18px;
$title-size: 21px;
$brand-size: 40px;
$font-style: 400;
$text-color: white;
$bg-color: #1E2127;
$yellow: #ffc107;
$title-font: 'Archivo Black', sans-serif;

#userForm{
  color: $text-color;
  font-family: $text-font;
  font-size: $text-size;
}
h4{
  color: $text-color;
  font-family: $text-font;
  font-size: $title-size;
}
#favoriteMovies{
  color: $text-color;
  font-family: $text-font;
  font-size: $text-size;
}